.app-container {
    padding: 30px;
    max-width: 850px;
    margin: 40px auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    min-height: 80vh;
}

.app-divider {
    border: none;
    height: 1px;
    background-color: lightgray;
    margin: 20px 0;
}